
{% extends 'feed_layout.html' %}
{% block body %}
        <div class="row">
            {% include "me_and_others.html" %}

            <div class="col-md-6 gedf-main">
                <! -- create a post.-- >
                {% include "post_create_and_update.html" %}
                <!-- create post end /////-->

                <!--- \\\\\\\show posts-->
                {%  include "post_show_on_news_feed.html" %}
                <!-- show post end /////-->

            </div>
            {% include "assignments_and_tutorial.html" %}
        </div>
{% endblock %}




